/* XMPP viewlet */
#xmpp-viewlet {
	float:right;
}

#xmpp-viewlet-container {
	background-color: #E3E3E3;
	font-size: 80%;
	position: relative;

	margin-right: 0.5em;
	padding: 0.25em 0.5em;
	-webkit-border-radius: 0 0 0.5em 0.5em;
    -moz-border-radius: 0 0 0.5em 0.5em;
    border-radius: 0 0 0.5em 0.5em;
    -webkit-background-clip: padding-box;
}

#xmpp-viewlet a {
	margin-right: 0.25em;
}

#online-users {
	display: none;
	z-index: 10;
	position: absolute;
	right: 0;
	top: 1.7em;
	width: 300px;
	padding: 0;
	margin: 0;
    font-size: 0.9em;
    list-style: none;	
	background-color: #ccc;
	-webkit-border-radius: 0 0 0.5em 0.5em;
    -moz-border-radius: 0 0 0.5em 0.5em;
    border-radius: 0 0 0.5em 0.5em;
    -webkit-background-clip: padding-box;
}
ul#online-users li {
    list-style: none;
    display: block;
}
.activated ul#online-users{
	display: block !important;
}
.activated #xmpp-viewlet-container {
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #ccc;
}

a#toggle-online-users:after {
    content: " ▼";
    display: inline-block;
}
#online-users img {
	max-width: 48px;
	display: block;
	float:left;
	margin: 0.5em 1em 0.5em 0.5em;
}
#online-users li {
    display: block;
    border-top: 1px solid #efefef;
}
#online-users li:before,
#online-users li:after { content: ""; display: table; }
#online-users li:after { clear: both; }
#online-users li { *zoom: 1; }
#online-users .offline {
	opacity: 0.5;
}
#online-users li > a {
    display: block;	
    padding: 0.5em 1em;
    margin: 0;
}
#online-users li > a.collapsed:hover {
	background-color: #ddd;
}
div.user-details-form {
    background: #efefef;
}
div.user-details-form:before,
div.user-details-form:after { content: ""; display: table; }
div.user-details-form:after { clear: both; }
div.user-details-form { *zoom: 1; }

#online-users li > a.collapsed + div.user-details-form {
    display: none;
}
#online-users li form input[type='text'] {
    float: left;
    width: 12em;
}

/* PubSub feed */
.pubsubAvatar {
	float:left;
	display: block;
	margin: 0.5em;
	height: 100%;
	width:100px;
}

.pubsubItemContent {
	float: left;
}

#content ul.pubsub-item-links {
	margin: 1em 0 0 0;
	margin-left: 0px;
	padding: 0em;
}

.pubsub-item-links li {
	list-style-type: none;
}
.pubsub-item-links li img {
	display: block;
	float: left;
	padding-right:0.25em;
	border: none;
}

/* Logging */
.xmpp-dataSent {
	color: green;
	margin-top: 1em;
}

.xmpp-dataRcvd {
	color: blue;
	margin-top: 1em;
}
